*~
*.elc
.newsrc.eld
.newsrc-dribble
network-security.data
tramp
elpa/
News/
url/
geben/
emms/
eshell/
request/
magithub/
.edbi-ds-history
emojis
hackernews
/mastodon.plstore
/lisp/local.el
image-dired/
/forge-database.sqlite
