*~
*.elc
.newsrc.eld
.newsrc-dribble
.edbi-ds-history
News/
elpa/
emms/
eshell/
/forge-database.sqlite
hackernews
image-dired/
/lisp/local.el
magithub/
network-security.data
request/
tramp
transient/
url/
